<html>

	<head>
		<title>Signup</title>
	</head>
	
	<body>
		<div>
			<h1>Signup</h1>
			<div class="form">
				
				<form action="/login" method="post">					
					<div>
						<label>Email :- </label>
						<input type="email" id="email" name="email" class="">
					</div>
					
					
					<div>
						<label>Passord :- </label>
						<input type="password" id="password" name="password" class="">
					</div>
					
					
					
					<div>
						<button type="submit" id="submit">Submit</button>
					</div>
				</form>
				
			</div>
		</div>
	</body>


</html>