<html>

	<head>
		<title>Signup</title>
		
		<script src="js/signup.js"></script>
	</head>
	
	<body>
		<div>
			<h1>Signup</h1>
			<div class="form">
				
				<form>
					<div>
						<label>First-Name :- </label>
						<input type="text" id="fName" name="fName" class="">
					</div>
					<div>
						<label>last-Name :- </label>
						<input type="text" id="lName" name="lName" class="">
					</div>
					<div>
						<label>Email :- </label>
						<input type="email" id="email" name="email" class="">
					</div>
					
					<div>
						<label>Passord :- </label>
						<input type="password" id="password" name="password" class="">
					</div>
					
					<div>
						<label>Confirm Passord :- </label>
						<input type="password" id="cpassword" name="cpassword" class="">
					</div>
					
					<div>
						<button type="button" onclick="submitForm()" id="submit">Submit</button>
					</div>
				</form>
				
			</div>
		</div>
	</body>


</html>